In [3]:
import pandas as pd

mask_data_clean = pd.read_csv('./课程素材/工作/mask_data_clean.csv', encoding='utf-8')
mask_data_clean

                              订单编号          日期   省   订单量    单价    销售额  月份
0      a56d-4415-ad6e-020cdb154c35  2020-01-01  湖北   1.0  30.0   30.0   1
1      953f-4b46-a8a2-0eb0e39818a8  2020-01-01  湖北   1.0  30.0   30.0   1
2      87af-48e5-8bed-c5dcf9ecc172  2020-01-01  湖北   1.0  30.0   30.0   1
3      535a-4eca-8fa0-9cc54c66e11d  2020-01-01  湖南   1.0  30.0   30.0   1
4      d707-4d5c-ac10-59d3fd3dc0bb  2020-01-01  广东   1.0  30.0   30.0   1
...                            ...         ...  ..   ...   ...    ...  ..
99480  8cad-41ee-85b7-c59b85f0ebe6  2020-06-30  湖北  10.0  30.0  300.0   6
99481  4ea4-480a-a070-295408955363  2020-06-30  湖北   6.0  30.0  180.0   6
99482  70f3-4461-9b5f-7f53a55c51b6  2020-06-30  湖北  10.0  30.0  300.0   6
99483  9cc8-4542-8fed-3145e1942504  2020-06-30  湖北  10.0  30.0  300.0   6
99484  f202-45df-96e2-ca4e4c389624  2020-06-30  湖北   5.0  30.0  150.0   6

[99485 rows x 7 columns]

In [4]:
# 创建DataFrame对象
grade_df = pd.DataFrame({'班级': [1, 1, 1, 1, 1, 2, 2, 2, 2, 2],
                         '性别': ['男', '男', '女', '女', '女', '男', '男', '男', '女', '女'],
                         '眼镜': ['是', '否', '是', '否', '是', '是', '是', '否', '否', '否'],
                         '成绩': [95, 90, 96, 92, 94, 85, 87, 80, 81, 86]})
# 查看grade_df
grade_df

   班级 性别 眼镜  成绩
0   1  男  是  95
1   1  男  否  90
2   1  女  是  96
3   1  女  否  92
4   1  女  是  94
5   2  男  是  85
6   2  男  是  87
7   2  男  否  80
8   2  女  否  81
9   2  女  否  86

In [6]:
# 对班级进行分组求平均值操作
groupby_df1 = grade_df.groupby('班级').mean()
# 查看 groupby_df1
groupby_df1

C:\Users\liuch\AppData\Local\Temp\ipykernel_33384\2711736012.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groupby_df1 = grade_df.groupby('班级').mean()

      成绩
班级
1   93.4
2   83.8

In [7]:
# 对班级进行分组求成绩的总和
groupby_df2 = grade_df.groupby('班级').sum()
# 查看 groupby_df2
groupby_df2

C:\Users\liuch\AppData\Local\Temp\ipykernel_33384\1392666451.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groupby_df2 = grade_df.groupby('班级').sum()

     成绩
班级
1   467
2   419

In [8]:
# 对性别进行分组求平均值操作
groupby_df3 = grade_df.groupby('性别').mean()
# 查看 groupby_df3
groupby_df3

C:\Users\liuch\AppData\Local\Temp\ipykernel_33384\2161536462.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groupby_df3 = grade_df.groupby('性别').mean()

     班级    成绩
性别
女   1.4  89.8
男   1.6  87.4

In [9]:
# 对班级进行分组聚合操作
grade_df1 = grade_df.groupby('性别')['成绩'].mean()
# 查看grade_df1
grade_df1

性别
女    89.8
男    87.4
Name: 成绩, dtype: float64

In [10]:
# 求出不同性别学生数学成绩的中位数
grade_df2 = grade_df.groupby('性别')['成绩'].median()
# 查看grader_df2
grade_df2

性别
女    92.0
男    87.0
Name: 成绩, dtype: float64

In [11]:
# 根据班级进行分组，并拼接性别列的字符串数据
groupby_df4 = grade_df.groupby('班级')['性别'].sum()
# 查看 groupby_df4
groupby_df4

班级
1    男男女女女
2    男男男女女
Name: 性别, dtype: object

字符串的话，sum() 便会对该列的数据进行拼接

In [12]:
# 获取不同班级下不同性别的学生的平均分
grade_df3 = grade_df.groupby(['班级', '性别'])['成绩'].mean()
# 查看grade_df3
grade_df3

班级  性别
1   女     94.0
    男     92.5
2   女     83.5
    男     84.0
Name: 成绩, dtype: float64

In [16]:
# 获取不同班级、不同性别、戴与不戴眼镜的学生的最高分
grade_df5 = grade_df.groupby(['班级', '性别', '眼镜'])['成绩'].max()

# 查看grade_df5
grade_df5.unstack()

眼镜        否     是
班级 性别
1  女   92.0  96.0
   男   90.0  95.0
2  女   86.0   NaN
   男   80.0  87.0