In [7]:
import pandas as pd

In [8]:
# 创建 Series 对象
surname = pd.Series(['赵', '钱', '孙', '李'])
# 查看surname
surname

0    赵
1    钱
2    孙
3    李
dtype: object

In [9]:
for index in range(4):
    print(index)

0
1
2
3

In [10]:
# 创建 DataFrame 对象
class_df = pd.DataFrame({'年龄': [25, 18, 23, 18],
                         '性别': ['女', '女', '女', '男']})
# 查看 class_df
class_df

   年龄 性别
0  25  女
1  18  女
2  23  女
3  18  男